body{
    font-family:'Poppin',sans-serif;
    margin: 0;
}
.section{
    display:flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
.orange-header{
    color:orange;
}
.header-border{
   
    border-left:outset;
    border-left-color:orange;
    border-left-width:5px;
    
}
.button{
    text-decoration: none;
    background-color:orange;
    color:white;
    font-weight:700px;
    padding: 10px 40px;
    border-radius:5px;
}
p{
    color:gray;
}
.half{
    width:50%;
    padding-left: 2%;
}
.half img{
    width:75%;
    padding:10px;
    
}
.container{
    display: flex;
    margin-bottom:150px;
}
.box-item{
    background:rgb(210, 247, 247);
    
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    width: 20%;
    margin-left:5%;
    margin-right: 5%;
    padding-left:20px;
    padding-right:30px;
    content: justify;
    
}
#Vission{
    background-color:rgb(248, 244, 198);
}
#Goal{
    background-color:rgb(201, 243, 201)
}
#my-mission{
    text-align: center;
}

.box-img{
    margin-top: 15px;
    margin-left:10px;
    width:100px;
    height: 75px;
}

.about{
    background:white;
    
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    width: 94%;
    height: 400px;
    margin-left:2%;
    margin-right: 2%;
    padding-left:20px;
    padding-right:20px;
    content: justify

}

#aboutus{
   
    color:black;
    font-weight:bold;
    border-bottom: 5px solid;
    border-image-slice: 1;
    margin-right: 79%;
  
}
.about ul li{
    color:gray;
    
}
footer {
    
    text-align: center;
    background-color: black;
}
#white{
    color:white;
    padding-top: 10px;
}
.red{
    color:brown;
    padding-top: 10px;
}
#foot{
    color:gray;
    padding-bottom: 50px;
    
}